USE [Kadrovska]
GO
/****** Object:  Table [dbo].[Drzavljanstvo]    Script Date: 9/30/17 11:59:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drzavljanstvo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Drzavljanstvo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Firma]    Script Date: 9/30/17 11:59:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Firma](
	[ID] [int] NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[PuniNaziv] [nvarchar](200) NULL,
	[Mjesto] [int] NULL,
	[Adresa] [nvarchar](50) NULL,
	[Telefon] [varchar](50) NULL,
	[Fax] [varchar](50) NULL,
	[Mobilni] [varchar](50) NULL,
	[Maticni] [varchar](50) NULL,
	[PIB] [varchar](50) NULL,
	[JIB] [varchar](50) NULL,
	[Ziro] [varchar](50) NULL,
	[Web] [varchar](50) NULL,
	[Mail] [varchar](50) NULL,
 CONSTRAINT [PK_Firma] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mjesto]    Script Date: 9/30/17 11:59:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mjesto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OpstinaID] [int] NULL,
	[PostBr] [int] NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Mjesto] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NacinPrestankaRO]    Script Date: 9/30/17 11:59:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NacinPrestankaRO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[Opis] [nvarchar](500) NULL,
 CONSTRAINT [PK_NacinPrestankaRO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nacionalnost]    Script Date: 9/30/17 11:59:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nacionalnost](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Nacionalnost] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Opstina]    Script Date: 9/30/17 11:59:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opstina](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Sifra] [int] NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Opstina] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PorodicnoStanje]    Script Date: 9/30/17 11:59:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PorodicnoStanje](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PorodicnoStanje] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PoslovnaJedinica]    Script Date: 9/30/17 11:59:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PoslovnaJedinica](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[PuniNaziv] [nvarchar](200) NULL,
	[Mjesto] [int] NULL,
	[Adresa] [nvarchar](50) NULL,
	[Telefon] [varchar](50) NULL,
	[Fax] [varchar](50) NULL,
	[Mobilni] [varchar](50) NULL,
	[Maticni] [varchar](50) NULL,
	[PIB] [varchar](50) NULL,
	[JIB] [varchar](50) NULL,
	[Ziro] [varchar](50) NULL,
	[Web] [varchar](50) NULL,
	[Mail] [varchar](50) NULL,
 CONSTRAINT [PK_PoslovnaJedinica] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Radnik]    Script Date: 9/30/17 11:59:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Radnik](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JMBG] [varchar](13) NULL CONSTRAINT [DF_Radnik_JMBG]  DEFAULT (''),
	[Prezime] [nvarchar](50) NOT NULL CONSTRAINT [DF_Radnik_Prezime]  DEFAULT (''),
	[DjevPrezime] [nvarchar](50) NULL CONSTRAINT [DF_Radnik_DjevPrezime]  DEFAULT (''),
	[Ime] [nvarchar](50) NOT NULL CONSTRAINT [DF_Radnik_Ime]  DEFAULT (''),
	[ImeOca] [nvarchar](50) NULL CONSTRAINT [DF_Radnik_ImeOca]  DEFAULT (''),
	[Bitovi] [int] NOT NULL CONSTRAINT [DF_Radnik_Bitovi]  DEFAULT ((0)),
	[Titula] [nvarchar](50) NULL CONSTRAINT [DF_Radnik_Titula]  DEFAULT (''),
	[Funkcija] [nvarchar](50) NULL CONSTRAINT [DF_Radnik_Funkcija]  DEFAULT (''),
	[MjestoRodjenja] [int] NULL,
	[DatumRodjenja] [smalldatetime] NULL CONSTRAINT [DF_Radnik_DatumRodjenja]  DEFAULT (getdate()),
	[DrzavljanstvoID] [int] NULL,
	[NacionalnostID] [int] NULL,
	[PorodicnoStanjeID] [int] NULL,
	[MjestoStan] [int] NULL,
	[AdresaStan] [nvarchar](50) NULL CONSTRAINT [DF_Radnik_AdresaStan]  DEFAULT (''),
	[TelefonStan] [nvarchar](50) NULL CONSTRAINT [DF_Radnik_TelefonStan]  DEFAULT (''),
	[TelefonMob] [nvarchar](50) NULL CONSTRAINT [DF_Radnik_TelefonMob]  DEFAULT (''),
	[TelefonPosao] [nvarchar](50) NULL CONSTRAINT [DF_Radnik_TelefonPosao]  DEFAULT (''),
	[Zanimanje] [nvarchar](50) NULL CONSTRAINT [DF_Radnik_Zanimanje]  DEFAULT (''),
	[StrucnaSpremaID] [int] NULL,
	[ZavrsenaSkola] [nvarchar](50) NULL CONSTRAINT [DF_Radnik_ZavrsenaSkola]  DEFAULT (''),
	[RadnoMjestoID] [int] NULL,
	[BrLK] [nvarchar](50) NULL CONSTRAINT [DF_Radnik_BrLK]  DEFAULT (''),
	[BrRadneKnj] [nvarchar](50) NULL CONSTRAINT [DF_Radnik_BrRadneKnj]  DEFAULT (''),
	[OpstinaIzdavanjaRK] [int] NULL,
	[LicniBrOsiguranja] [nvarchar](50) NULL CONSTRAINT [DF_Radnik_LicniBrOsiguranja]  DEFAULT (''),
	[DatumPrvogZapos] [smalldatetime] NULL,
	[PrethodniStazMj] [int] NULL CONSTRAINT [DF_Radnik_PrethodniStazMj]  DEFAULT ((0)),
	[PrethodniStazDan] [int] NULL CONSTRAINT [DF_Radnik_PrethodniStazDan]  DEFAULT ((0)),
	[PrethodniStazUFirmiMj] [int] NULL CONSTRAINT [DF_Radnik_PrethodniStazMj1]  DEFAULT ((0)),
	[PrethodniStazUFirmiDan] [int] NULL CONSTRAINT [DF_Radnik_PrethodniStazUFirmiDan]  DEFAULT ((0)),
	[DatumZapos] [smalldatetime] NULL,
	[TipRadnogOdnosaID] [int] NULL,
	[NacinPrestankaRoID] [int] NULL,
	[DatumPrestankaRO] [smalldatetime] NULL,
	[Napomena] [nvarchar](4000) NULL CONSTRAINT [DF_Radnik_Napomena]  DEFAULT (''),
	[FindStr]  AS (((([Prezime]+' ')+[Ime])+' ')+[JMBG]),
	[Lozinka] [nvarchar](50) NULL,
	[Slika] [varbinary](max) NULL,
	[Naziv]  AS (([Prezime]+' ')+[Ime]),
	[eMail] [nvarchar](50) NULL,
	[PoslovnaJedinicaID] [int] NULL,
	[Pol] [nvarchar](10) NULL,
 CONSTRAINT [PK_Radnik] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RadnikDjeca]    Script Date: 9/30/17 11:59:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RadnikDjeca](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RadID] [int] NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[DatumRodj] [smalldatetime] NULL,
	[JMBG] [nvarchar](13) NULL,
	[Bitovi] [int] NOT NULL CONSTRAINT [DF_RadnikDjeca_Bitovi]  DEFAULT ((0)),
	[Napomena] [nvarchar](500) NULL,
 CONSTRAINT [PK_RadnikDjeca] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RadnoMjesto]    Script Date: 9/30/17 11:59:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RadnoMjesto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[Opis] [nvarchar](500) NULL,
 CONSTRAINT [PK_RadnoMjesto] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StrucnaSprema]    Script Date: 9/30/17 11:59:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StrucnaSprema](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](10) NOT NULL,
	[Opis] [nvarchar](500) NULL,
 CONSTRAINT [PK_StrucnaSprema] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipRadnogOdnosa]    Script Date: 9/30/17 11:59:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipRadnogOdnosa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[Opis] [nvarchar](500) NULL,
	[Bitovi] [int] NULL,
 CONSTRAINT [PK_TipRadnogOdnosa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Firma]  WITH CHECK ADD  CONSTRAINT [FK_Firma_Mjesto] FOREIGN KEY([Mjesto])
REFERENCES [dbo].[Mjesto] ([ID])
GO
ALTER TABLE [dbo].[Firma] CHECK CONSTRAINT [FK_Firma_Mjesto]
GO
ALTER TABLE [dbo].[Mjesto]  WITH CHECK ADD  CONSTRAINT [FK_Mjesto_Opstina] FOREIGN KEY([OpstinaID])
REFERENCES [dbo].[Opstina] ([ID])
GO
ALTER TABLE [dbo].[Mjesto] CHECK CONSTRAINT [FK_Mjesto_Opstina]
GO
ALTER TABLE [dbo].[PoslovnaJedinica]  WITH CHECK ADD  CONSTRAINT [FK_PoslovnaJedinica_Mjesto] FOREIGN KEY([Mjesto])
REFERENCES [dbo].[Mjesto] ([ID])
GO
ALTER TABLE [dbo].[PoslovnaJedinica] CHECK CONSTRAINT [FK_PoslovnaJedinica_Mjesto]
GO
ALTER TABLE [dbo].[Radnik]  WITH NOCHECK ADD  CONSTRAINT [FK_Radnik_Drzavljanstvo] FOREIGN KEY([DrzavljanstvoID])
REFERENCES [dbo].[Drzavljanstvo] ([ID])
GO
ALTER TABLE [dbo].[Radnik] CHECK CONSTRAINT [FK_Radnik_Drzavljanstvo]
GO
ALTER TABLE [dbo].[Radnik]  WITH NOCHECK ADD  CONSTRAINT [FK_Radnik_Mjesto] FOREIGN KEY([MjestoRodjenja])
REFERENCES [dbo].[Mjesto] ([ID])
GO
ALTER TABLE [dbo].[Radnik] CHECK CONSTRAINT [FK_Radnik_Mjesto]
GO
ALTER TABLE [dbo].[Radnik]  WITH NOCHECK ADD  CONSTRAINT [FK_Radnik_Mjesto1] FOREIGN KEY([MjestoStan])
REFERENCES [dbo].[Mjesto] ([ID])
GO
ALTER TABLE [dbo].[Radnik] CHECK CONSTRAINT [FK_Radnik_Mjesto1]
GO
ALTER TABLE [dbo].[Radnik]  WITH NOCHECK ADD  CONSTRAINT [FK_Radnik_NacinPrestankaRO] FOREIGN KEY([NacinPrestankaRoID])
REFERENCES [dbo].[NacinPrestankaRO] ([ID])
GO
ALTER TABLE [dbo].[Radnik] CHECK CONSTRAINT [FK_Radnik_NacinPrestankaRO]
GO
ALTER TABLE [dbo].[Radnik]  WITH NOCHECK ADD  CONSTRAINT [FK_Radnik_Nacionalnost] FOREIGN KEY([NacionalnostID])
REFERENCES [dbo].[Nacionalnost] ([ID])
GO
ALTER TABLE [dbo].[Radnik] CHECK CONSTRAINT [FK_Radnik_Nacionalnost]
GO
ALTER TABLE [dbo].[Radnik]  WITH NOCHECK ADD  CONSTRAINT [FK_Radnik_Opstina2] FOREIGN KEY([OpstinaIzdavanjaRK])
REFERENCES [dbo].[Opstina] ([ID])
GO
ALTER TABLE [dbo].[Radnik] CHECK CONSTRAINT [FK_Radnik_Opstina2]
GO
ALTER TABLE [dbo].[Radnik]  WITH NOCHECK ADD  CONSTRAINT [FK_Radnik_PorodicnoStanje] FOREIGN KEY([PorodicnoStanjeID])
REFERENCES [dbo].[PorodicnoStanje] ([ID])
GO
ALTER TABLE [dbo].[Radnik] CHECK CONSTRAINT [FK_Radnik_PorodicnoStanje]
GO
ALTER TABLE [dbo].[Radnik]  WITH CHECK ADD  CONSTRAINT [FK_Radnik_PoslovnaJedinica] FOREIGN KEY([PoslovnaJedinicaID])
REFERENCES [dbo].[PoslovnaJedinica] ([ID])
GO
ALTER TABLE [dbo].[Radnik] CHECK CONSTRAINT [FK_Radnik_PoslovnaJedinica]
GO
ALTER TABLE [dbo].[Radnik]  WITH NOCHECK ADD  CONSTRAINT [FK_Radnik_RadnoMjesto] FOREIGN KEY([RadnoMjestoID])
REFERENCES [dbo].[RadnoMjesto] ([ID])
GO
ALTER TABLE [dbo].[Radnik] CHECK CONSTRAINT [FK_Radnik_RadnoMjesto]
GO
ALTER TABLE [dbo].[Radnik]  WITH NOCHECK ADD  CONSTRAINT [FK_Radnik_StrucnaSprema] FOREIGN KEY([StrucnaSpremaID])
REFERENCES [dbo].[StrucnaSprema] ([ID])
GO
ALTER TABLE [dbo].[Radnik] CHECK CONSTRAINT [FK_Radnik_StrucnaSprema]
GO
ALTER TABLE [dbo].[Radnik]  WITH NOCHECK ADD  CONSTRAINT [FK_Radnik_TipRadnogOdnosa] FOREIGN KEY([TipRadnogOdnosaID])
REFERENCES [dbo].[TipRadnogOdnosa] ([ID])
GO
ALTER TABLE [dbo].[Radnik] CHECK CONSTRAINT [FK_Radnik_TipRadnogOdnosa]
GO
ALTER TABLE [dbo].[RadnikDjeca]  WITH CHECK ADD  CONSTRAINT [FK_RadnikDjeca_Radnik] FOREIGN KEY([RadID])
REFERENCES [dbo].[Radnik] ([ID])
GO
ALTER TABLE [dbo].[RadnikDjeca] CHECK CONSTRAINT [FK_RadnikDjeca_Radnik]
GO
