<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Kadrovska_sluzba.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<connectionStrings>
      <add name="Kadrovska_sluzba.Properties.Settings.KadrovskaConnectionString"
          connectionString="Data Source=DESKTOP-L1OSIDV\SQLEXPRESS;Initial Catalog=Kadrovska;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="Kadrovska_sluzba.Properties.Settings.KadrovskaConnectionString"
      connectionString="Data Source=DESKTOP-L1OSIDV\SQLEXPRESS;Initial Catalog=Kadrovska;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServerName" value="DESKTOP-L1OSIDV\SQLEXPRESS" />
    <add key="Baza" value="Kadrovska" />
    <add key="DbPwd" value="test" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Kadrovska_sluzba.Properties.Settings>
      <setting name="ApplicationSkinName" serializeAs="String">
        <value />
      </setting>
    </Kadrovska_sluzba.Properties.Settings>
  </userSettings>
</configuration>